<ion-content>
    <div class="main_content_div">
        <div class="header_div">
            <div class="flex_header">
                <ion-icon name="arrow-back-outline" (click)="goToBack()"></ion-icon>
                <ion-label>Payment</ion-label>
            </div>
        </div>

        <div class="content_div" [style.height]="screenHeight+'px'">
            
            <ion-label class="amount_lbl">Amount Payable <span>Rs. 1040</span></ion-label>

            <ion-row>
                <ion-col size="4" (click)="payID = 1">
                    <div class="col_box" [class.active]="payID == 1">
                        <ion-icon name="card-outline"></ion-icon>
                    </div>
                </ion-col>
                <ion-col size="4" (click)="payID = 2">
                    <div class="col_box" [class.active]="payID == 2">
                        <ion-icon name="logo-paypal"></ion-icon>
                    </div>
                </ion-col>
                <ion-col size="4" (click)="payID = 3">
                    <div class="col_box" [class.active]="payID == 3">
                        <ion-icon name="cash-outline"></ion-icon>
                    </div>
                </ion-col>
            </ion-row>
      
            <div class="inner_content" *ngIf="payID == 1">

                <ion-label class="add_card" (click)="goToAddCard()">Add Card</ion-label>
                
                <ion-radio-group value="card1" mode="md">
      
                    <div class="card_div">
                        <ion-radio value="card1"></ion-radio>
                        <div>
                          <ion-label class="small_lbl">Personal</ion-label>
                          <ion-label class="card_lbl">XXXX-XXXX-XXXX-1234</ion-label>
                        </div>
                    </div>
      
                    <div class="card_div">
                        <ion-radio value="card2"></ion-radio>
                        <div>
                          <ion-label class="small_lbl">Office</ion-label>
                          <ion-label class="card_lbl">XXXX-XXXX-XXXX-1234</ion-label>
                        </div>
                    </div>
      
                    <div class="card_div">
                        <ion-radio value="card3"></ion-radio>
                        <div>
                          <ion-label class="small_lbl">Father</ion-label>
                          <ion-label class="card_lbl">XXXX-XXXX-XXXX-1234</ion-label>
                        </div>
                    </div>
      
                </ion-radio-group>
                
                <ion-button expand="block" (click)="goToHome()">
                    Pay
                </ion-button>
            </div>
      
            <div class="inner_content" *ngIf="payID == 2">
                <ion-input type="text" placeholder="Paypal ID"></ion-input>
                <ion-button expand="block" (click)="goToHome()">
                    Pay
                </ion-button>
            </div>
      
            <div class="inner_content" *ngIf="payID == 3">
                <ion-button expand="block" (click)="goToHome()">
                    Pay
                </ion-button>
            </div>

        </div>

    </div>
</ion-content>